/* navigation bar */
#navbar{
    flex-direction: column;
}

/* Home section */
#home{
    height: 307px;
    padding: 4px 20px;
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 1.2rem;
}

/* skills section */
#skills{
    flex-direction: column;  
}

/* interest section */
#interest{
    flex-direction: column;
}

/* about me */


/* utility class */
.h-primary{
    font-size: 2.5rem;
}
.h-secondary{
    font-size: 1.8rem;
}